apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yaml
    kompose.version: 1.22.0 (955b78124)
  creationTimestamp: null
  labels:
    io.kompose.service: web
  name: web
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: web
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yaml
        kompose.version: 1.22.0 (955b78124)
      creationTimestamp: null
      labels:
        io.kompose.network/my_network: "true"
        io.kompose.service: web
    spec:
      containers:
        - args:
            - uwsgi
            - --ini
            - /code/mysite/uwsgi.ini
          image: container-uwsgi:v1.0.0
          name: container-uwsgi
          ports:
            - containerPort: 8001
          resources: {}
      restartPolicy: Always
status: {}
