apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.22.0 (955b78124)
  creationTimestamp: null
  labels:
    io.kompose.service: db
  name: db
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: db
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.22.0 (955b78124)
      creationTimestamp: null
      labels:
        io.kompose.service: db
    spec:
      containers:
        - env:
            - name: POSTGRES_DB
              value: postgresdb
            - name: POSTGRES_INITDB_ARGS
              value: --encoding=UTF-8 --locale=C
            - name: POSTGRES_PASSWORD
              value: test
            - name: POSTGRES_USER
              value: admin
          image: postgres
          name: container.postgres
          ports:
            - containerPort: 5432
          resources: {}
      hostname: postgres
      restartPolicy: Always
status: {}
